@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Outfit:wght@100;400;700&display=swap');

body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    color: #141414;
}

h1, h2, h3, p{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.subtitulo{
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px){

    .subtitulo{
        font-size: 4rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}